<p class="p" style="margin: 2em">this is from template</p>
{% for product in collections['all'].products %}
  {{- product.title | link_to: product.url }}<br>
{% endfor %}

   
<script>
  let el = document.querySelector(".p");
  el.onclick = () => {
    if(el.style.backgroundColor == "red"){
      el.style.backgroundColor = ""
    }
    else{
      el.style.backgroundColor = "red"  
    }
  }
</script>