<p class="p">This is from template</p>
<script>
  document.querySelector(".p").onclick = () => {
    if(document.querySelector(".p").style.backgroundColor == "red"){
      document.querySelector(".p").style.backgroundColor == ""
    }
    else{
      document.querySelector(".p").style.backgroundColor = "red"  
    };
</script>