<p class="p">This is from template</p>
<script>
  let el = document.querySelector(".p");
  el.onclick = () => {
    if(el.style.backgroundColor == "red"){
      el.style.backgroundColor = "none"
    }
    else{
      el.style.backgroundColor = "red"  
    }
  }
</script>