{{ all_products }}
{% assign string = "hello, world" %}


<p class="p">{{ string }}</p>

<script>
  let el = document.querySelector(".p");
  el.onclick = () => {
    if(el.style.backgroundColor == "red"){
      el.style.backgroundColor = ""
    }
    else{
      el.style.backgroundColor = "red"  
    }
  }
</script>