<p class="p" style="margin: 2em">this is from template</p>
{{ collections }}

https://cdn.shopify.com/s/files/1/0657/3870/3104/products/SamsungGalaxyS21FE6_128GBgraphite.jpg?v=1660134083

   
<script>
  let el = document.querySelector(".p");
  el.onclick = () => {
    if(el.style.backgroundColor == "red"){
      el.style.backgroundColor = ""
    }
    else{
      el.style.backgroundColor = "red"  
    }
  }
</script>